* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  vertical-align: bottom;
}

.Oval {
  border: solid 1px #fff;
  border-radius: 20px;
  font-weight: bold;
  padding: 2px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.Circle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}

.Mini {
  width: 49px;
  height: 49px;
}

.Big {
  height: 134px;
  width: 134px;
  position: relative;
  top: -70px;
  left: 20px;
}

.BigOval {
  text-align: center;
}

.Head {
  position: relative;
  height: 200px;
  width: 600px;
}

.SearchIcon {
  height: 15px;
  width: 15px;
  position: absolute;
  left: 30px;
  top: -15px;
}

.hamburg {
  width: 23px;
  height: 23px;
  margin-right: 40px;
}

.Follow {
  display: inline-block;
  margin-top: 15px;
  margin-left: 470px;
  margin-bottom: 25px;
  border: 2px solid #1da1f2;
  padding: 8px 15px;
}

.Bold {
  font-weight: bold;
  color: #14171a;
  font-size: 19px;
}

.icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 19px;
  width: 19px;
}

.TweetNav {
  color: #657786;
  font-size: 15px;
  text-align: center;
  font-weight: 700;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.FontSize15 {
  font-size: 15px;
}

.TweetWidth {
  margin: 30px 15px 0;
}

.Aside {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #14171a;
  margin: 10px 0 15px;
}

body {
  background-color: greenyellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

header {
  background-color: blue;
  z-index: 1;
  height: 3.6rem;
  min-width: 100%;
  position: fixed;
}

header ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0 auto;
  margin-top: 0.6rem;
}

header li:nth-of-type(1) {
  margin-left: 15%;
  margin-right: 2rem;
}

header li:nth-of-type(2) {
  height: 0;
}

header input {
  width: 486px;
  height: 2.2rem;
  border-radius: 20px;
}

header li:nth-of-type(4) {
  margin-left: auto;
}

header li:nth-of-type(5) {
  margin-left: 2rem;
  margin-right: 20px;
}

main {
  padding-top: 3.6rem;
  background-color: green;
  width: 600px;
  margin: 0 auto;
}

main section .Height0 {
  height: 0px;
}

main section .Prof {
  margin-left: 15px;
}

main section .Comment {
  padding-top: 8px;
  padding-bottom: 8px;
}

main section span {
  font-size: 15px;
}

nav p a {
  display: inline-block;
  width: 25%;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

article .TweetIcon {
  margin-right: 10px;
}

article .Flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article .Columm {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article .Share {
  width: 25%;
}

aside {
  padding-top: 3.3rem;
  background-color: aqua;
  width: 350px;
  min-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside .useTwitter {
  border: 1px solid #14171a;
  margin: 20px;
}

aside .useTwitter p:nth-of-type(2) {
  text-align: center;
}

aside .useTwitter a {
  text-align: center;
  height: 37px;
  width: 297px;
  background-color: green;
}
/*# sourceMappingURL=style.css.map */