* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
  vertical-align: bottom;
  overflow-wrap: break-word;
}
//ツイッターのカラー
$MainColor: rgb(29, 161, 242);
// ログイン・フォロー・アカウント作成の長丸の縁
.Oval {
  border: solid 1px #fff;
  border-radius: 20px;
  font-weight: bold;
  padding: 2px 15px;
  box-sizing: border-box;
  text-align: center;
}
//アイコンの丸
.Circle {
  box-sizing: border-box;
  border-radius: 50%;
}
//ミニサイズアイコン
.Mini {
  width: 49px;
  height: 49px;
}
//ビックアイコン
.Big {
  height: 134px;
  width: 134px;
  position: relative;
  top: -70px;
  left: 20px;
}
//Asideのビックアイコン
.BigOval {
  text-align: center;
}
//ヘッダーアイコン
.Head {
  position: relative;
  height: 200px;
  width: 600px;
}
//検索バー横のアイコン
.HeaderIcon {
  width: 20px;
}
//検索バーアイコン
.SearchIcon {
  height: 15px;
  width: 15px;
  position: absolute;
  left: 30px;
  top: -15px;
}
//検索バー
.SearchBar {
  width: 300px;
  height: 2.2rem;
  border-radius: 20px;
}
//ハンバーガーアイコン
.hamburg {
  width: 23px;
  height: 23px;
}
//フォロー
.Follow {
  display: inline-block;
  margin-top: 15px;
  margin-left: 470px;
  margin-bottom: 25px;
  border: 2px solid $MainColor;
  padding: 8px 15px;
}
//H1的な部分
.Bold {
  font-weight: bold;
  color: #14171a;
  font-size: 19px;
}
//リプライfavなどのアイコンの大きさ
.icon {
  box-sizing: border-box;
  height: 19px;
  width: 19px;
}
//ツイート メディア いいねの欄
.TweetNav {
  color: black;
  font-size: 15px;
  text-align: center;
  font-weight: 700;
  box-sizing: border-box;
  display: inline-block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.FontSize15 {
  font-size: 15px;
}

//asideの縁
.AsideEdge {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  margin: 10px 0 15px;
}
//Twitterを使ってみよう
.useTwitter {
  border: 1px solid #14171a;
  margin: 20px;
}

//aside画像(中心)
.AsideCenter {
}
//aside画像(左上)
.AsideUpperLeft {
  border-top-left-radius: 8px;
}
//aside画像(右上)
.AsideUpperRight {
  border-top-right-radius: 8px;
}
//aside画像(右下)
.AsideLowerRight {
  border-bottom-right-radius: 8px;
}
//aside画像(左下)
.AsideLowerLeft {
  border-bottom-left-radius: 8px;
}
///////////////////////////////////////////////////////
body {
  background-color: greenyellow;
  display: flex;
  min-height: 100vh;
  min-width: 100%;
  header {
    min-width: 100%;
    height: 3.6rem;
    background-color: blue;
    z-index: 1;
    position: fixed;
    ul {
      display: flex;
      height: 3.6rem;
      background-color: white;
      list-style-type: none;
      li {
        height: 3.6rem;
        display: inline-block;
      }
      .HeaderLeft {
        background-color: blue;
        width: 600px;
        margin: 0 10px 0 auto;
      }
      .HeaderRight {
        background-color: red;
        width: 300px;
        margin: 0 auto 0 10px;
      }
    }
  }

  main {
    padding-top: 3.6rem;
    background-color: green;
    width: 600px;
    margin: 0 10px 0 auto;

    section {
      .Height0 {
        height: 0px;
      }
      .Prof {
        margin-left: 15px;
      }
      .Comment {
        padding-top: 8px;
        padding-bottom: 8px;
      }
      span {
        font-size: 15px;
      }
    }
    nav {
      p {
        a {
          width: 25%;
          padding: 15px;
        }
      }
    }
  }

  article {
    .TweetIcon {
      margin-right: 10px;
    }
    .TweetWidth {
      margin: 30px 15px 0;
    }
    .Flex {
      display: flex;
    }
    .Columm {
      flex-direction: column;
    }
    .Share {
      width: 25%;
    }
  }

  aside {
    margin: 0 auto 0 10px;
    padding-top: 3.3rem;
    background-color: aqua;
    width: 350px;

    .Pad {
      padding: 10px 15px;
    }
    .AsideImg {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 350px;
      height: 198px;
      border-color: #fff;

      img {
        width: 114px;
        height: 97px;
      }
    }
  }
  footer {
    display: flex;
    flex-wrap: wrap;
    color: rgb(101, 119, 134);
    margin-top: 40px;
    p {
      display: inline-block;
      box-sizing: border-box;
      margin: 2px 0;
    }
    a {
      padding-right: 10px;
    }
  }

  //モーダルウィンドウ
  .Hidden {
    display: none;
  }
}
