//ツイッターのカラー
$MainColor: rgb(29, 161, 242);
* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
  vertical-align: bottom;
}
// ログイン・フォロー・アカウント作成の長丸の縁
.Oval {
  border: solid 1px #fff;
  border-radius: 20px;
  font-weight: bold;
  padding: 2px 15px;
  box-sizing: border-box;
  text-align: center;
}
//アイコンの丸
.Circle {
  box-sizing: border-box;
  border-radius: 50%;
}
//ミニサイズアイコン
.Mini {
  width: 49px;
  height: 49px;
}
//ビックアイコン
.Big {
  height: 134px;
  width: 134px;
  position: relative;
  top: -70px;
  left: 20px;
}
//Asideのビックアイコン
.BigOval {
  text-align: center;
}
//ヘッダーアイコン
.Head {
  position: relative;
  height: 200px;
  width: 600px;
}
//検索バーアイコン
.SearchIcon {
  height: 15px;
  width: 15px;
  position: absolute;
  left: 30px;
  top: -15px;
}
//ハンバーガーアイコン
.hamburg {
  width: 23px;
  height: 23px;
  margin-right: 40px;
}
//フォロー
.Follow {
  display: inline-block;
  margin-top: 15px;
  margin-left: 470px;
  margin-bottom: 25px;
  border: 2px solid $MainColor;
  padding: 8px 15px;
}
//H1的な部分
.Bold {
  font-weight: bold;
  color: #14171a;
  font-size: 19px;
}
//リプライfavなどのアイコンの大きさ
.icon {
  box-sizing: border-box;
  height: 19px;
  width: 19px;
}
//ツイート メディア いいねの欄
.TweetNav {
  color: #657786;
  font-size: 15px;
  text-align: center;
  font-weight: 700;
  box-sizing: border-box;
}
.FontSize15 {
  font-size: 15px;
}
//ツイート内容の幅
.TweetWidth {
  margin: 30px 15px 0;
}
//asideの縁
.Aside {
  box-sizing: border-box;
  border: 1px solid #14171a;
  margin: 10px 0 15px;
}

//aside画像(中心)
.AsideCenter {
}
//aside画像(左上)
//aside画像(右上)
//aside画像(右下)
//aside画像(左下)
///////////////////////////////////////////////////////
body {
  background-color: greenyellow;
  display: flex;
  min-height: 100vh;
}
header {
  background-color: blue;
  z-index: 1;
  height: 3.6rem;
  min-width: 100%;
  position: fixed;

  ul {
    align-items: center;
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    margin-top: 0.6rem;
  }
  li:nth-of-type(1) {
    margin-left: 15%;
    margin-right: 2rem;
  }
  li:nth-of-type(2) {
    height: 0;
  }
  input {
    width: 486px;
    height: 2.2rem;
    border-radius: 20px;
  }
  li:nth-of-type(4) {
    margin-left: auto;
  }
  li:nth-of-type(5) {
    margin-left: 2rem;
    margin-right: 20px;
  }
}

main {
  padding-top: 3.6rem;
  background-color: green;
  width: 600px;
  margin: 0 auto;

  section {
    .Height0 {
      height: 0px;
    }
    .Prof {
      margin-left: 15px;
    }
    .Comment {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    span {
      font-size: 15px;
    }
  }
}
nav {
  p {
    a {
      display: inline-block;
      width: 25%;
      padding: 15px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
}

article {
  .TweetIcon {
    margin-right: 10px;
  }
  .Flex {
    display: flex;
  }
  .Columm {
    flex-direction: column;
  }
  .Share {
    width: 25%;
  }
}
//////////////////
aside {
  padding-top: 3.3rem;
  background-color: aqua;
  width: 350px;
  min-width: 250px;
  display: flex;
  flex-direction: column;

  .useTwitter {
    border: 1px solid #14171a;
    margin: 20px;
    p:nth-of-type(2) {
      text-align: center;
    }
    a {
      text-align: center;
      height: 37px;
      width: 297px;
      background-color: green;
    }
  }
}
