* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  vertical-align: bottom;
  overflow-wrap: break-word;
  list-style-type: none;
}

* .Oval {
  border: solid 1px #fff;
  border-radius: 20px;
  font-weight: bold;
  padding: 2px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

* .Circle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}

* .Mini {
  width: 3rem;
  height: 3rem;
}

* .FontSize15 {
  font-size: 15px;
}

* .InlineBlock {
  display: inline-block;
}

* .Bold {
  font-weight: bold;
  color: #14171a;
  font-size: 19px;
}

* .icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 1.4rem;
  width: 1.4rem;
}

.MainColor {
  color: #1da1f2;
}

.SubTextColor {
  color: #657786;
}

.WhiteColor {
  color: white;
}

body {
  background-color: greenyellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  min-width: 100%;
}

header {
  min-width: 100%;
  height: 3.6rem;
  background-color: blue;
  z-index: 1;
  position: fixed;
}

main {
  padding-top: 3.6rem;
  background-color: green;
  width: 55%;
  margin: 0 10px 0 auto;
}

aside {
  margin: 0 auto 0 10px;
  padding-top: 3.3rem;
  background-color: aqua;
  width: 35%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

header .LeftUl {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.6rem;
  width: 100%;
  background-color: skyblue;
  padding-top: 0.5rem;
}

header .HeaderLeft {
  display: inline-block;
  width: 60%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .HeaderIcon {
  width: 1.5rem;
}

header .SearchIcon {
  height: 1rem;
  width: 1rem;
  position: absolute;
  left: 30px;
  top: -15px;
}

header .SearchBar {
  width: 20rem;
  height: 2.2rem;
  border-radius: 20px;
}

header .RightUl {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.6rem;
  width: 100%;
  background-color: red;
  padding-top: 1rem;
}

header .HeaderRight {
  display: inline-block;
  width: 39%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .Hamburg {
  width: 1.5rem;
  height: 1.5rem;
}

main section .HeadImg {
  position: relative;
  height: 12.5rem;
  width: 100%;
}

main section .Big {
  height: 8rem;
  width: 8rem;
  margin-top: -4rem;
  margin-left: 1rem;
  z-index: 1;
  position: relative;
  float: left;
}

main section .Follow {
  display: block;
  float: right;
  border: 2px solid;
  padding: 8px 15px;
  margin-top: 1rem;
  margin-right: 3rem;
}

main section .Prof {
  float: clear;
  margin-left: 15px;
  margin-top: 5rem;
}

main section .Comment {
  padding-top: 8px;
  padding-bottom: 8px;
}

main nav .TweetNav {
  font-size: 15px;
  text-align: center;
  font-weight: 700;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 25%;
  padding: 15px;
}

main article .TweetIcon {
  margin-right: 10px;
}

main article .Tweet {
  margin: 30px 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main article .Flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main article .Share {
  width: 25%;
}

aside .AsideEdge {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  margin: 10px 0 15px;
}

aside .Pad {
  padding: 10px 15px;
}

aside .BigOval {
  text-align: center;
}

aside .Width30 {
  width: 33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

aside .AsideImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-color: #fff;
}

aside .AsideUpperCenter {
  width: 100%;
  height: 100%;
  padding-bottom: 2px;
}

aside .AsideLowerCenter {
  width: 100%;
  height: 100%;
}

aside .AsideUpperLeft {
  border-top-left-radius: 8px;
  width: 100%;
  height: 100%;
  padding-bottom: 2px;
}

aside .AsideUpperRight {
  border-top-right-radius: 8px;
  width: 100%;
  height: 100%;
  padding-bottom: 2px;
}

aside .AsideLowerRight {
  border-bottom-right-radius: 8px;
  width: 100%;
  height: 100%;
}

aside .AsideLowerLeft {
  border-bottom-left-radius: 8px;
  width: 100%;
  height: 100%;
}

footer .FooterText {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 10px;
  margin: 2px 0;
  font-size: 13px;
}

.ModalAll .Hidden {
  display: none;
}

.ModalAll .Modal {
  background: #fff;
  width: 600px;
  height: 500px;
  border-radius: 4px;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
}

.ModalAll .Close {
  height: 22px;
}

.ModalAll .ModalIcon {
  height: 49px;
  width: 49px;
  padding: 0 0 0 50px;
}

.ModalAll .ScrollLock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}
/*# sourceMappingURL=style.css.map */